<template>
  <div class="overview">
    <top-bar :factory-data="factoryData" />
    <factory-detail :factory-data="factoryData" />
    <market-bar />
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, watch } from "vue";
import { useUserData } from "@/axios/loader";
import { buildingData } from "../../server/lib/data/gamedata";
import { BuildingKeyType } from "../../server/lib/types/types";
import TopBar from "@/components/TopBar.vue";
import axios from "axios";
import MarketBar from "@/components/MarketBar.vue";
import FactoryDetail from "@/components/FactoryDetail.vue";
import { useRoute } from "vue-router";

export default defineComponent({
  name: "FactoryView",
  components: { TopBar, MarketBar, FactoryDetail },
  setup() {
    const user = useUserData();

    const route = useRoute();
    const factoryId = computed(() => route.params.id);

    const factoryData = computed(() =>
      user.value?.factories.find((factory) => factory.id === factoryId.value)
    );

    return {
      factoryData,
    };
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus">
.overview {
  padding-top: 40px;
}
</style>
