<template>
  <div>
    <div class="home" v-if="user">
      <h1>Benutzer {{ user.email }} - {{ factoryCount }}</h1>

      <div v-for="factory in user.factories" :key="factory.id">
        <h2>{{ factory.name }}</h2>

        <h4>Ressourcen</h4>
        <ul>
          <li>Geld: {{ factory.money }}</li>

          <li v-for="(amount, key) in factory.resources" :key="key">
            {{ key }}: {{ amount }}
          </li>
        </ul>

        <h4>Gebäude</h4>

        <ul>
          <li v-for="building in factory.buildings" :key="building.id">
            {{ building.key }} - {{ building.efficiency }}
          </li>
        </ul>

        <h4>Aktionen</h4>

        <button @click="logout">Abmelden</button>

        <ul>
          <li v-for="(building, key) in buildingData" :key="key">
            <button @click="addBuilding(factory.id, key)">
              Neues {{ key }}
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div v-else>Laden...</div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, watch } from "vue";
import { useUserData, hasToken, setToken } from "@/axios/loader";
import { buildingData } from "../../server/lib/data/gamedata";
import { BuildingKeyType } from "../../server/lib/types/types";
import axios from "axios";
import { useRouter } from "vue-router";

export default defineComponent({
  name: "Home",
  components: {},
  setup() {
    const router = useRouter();
    const user = useUserData();

    const factoryCount = computed(() => {
      return user.value?.factories.length;
    });

    onMounted(() => {
      if (!hasToken()) {
        router.push("/login");
      }
    });

    watch(
      () => user,
      () => {
        console.log("hier");
      }
    );

    async function addBuilding(factoryId: string, key: BuildingKeyType) {
      const data = await axios.post("/game/build", {
        buildingType: key,
        factoryId: factoryId,
      });

      console.log(data);
    }

    function logout() {
      setToken("");
      router.push("/login");
    }

    return {
      user,
      factoryCount,
      buildingData,
      addBuilding,
      logout,
    };
  },
});
</script>
