<template>
  <div class="main">
    <div class="login">
      <h2 class="formTitle">Login</h2>
      <label for="l_username">Username</label>
      <input id="l_username" type="text" v-model="l_email" />
      <label for="l_password">Password</label>
      <input id="l_password" type="password" v-model="l_password" />
      <button type="submit" @click.prevent="login">Login</button>
    </div>

    <div class="register">
      <h2 class="formTitle">Register</h2>
      <label for="r_username">Username</label>
      <input id="r_username" type="text" v-model="r_email" />
      <label for="r_password">Password</label>
      <input id="r_password" type="password" v-model="r_password" />
      <button type="submit" @click.prevent="register">Login</button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import axios from "axios";
import { setToken } from "@/axios/loader";
import { useRouter } from "vue-router";

export default defineComponent({
  name: "Login",
  components: {},
  setup() {
    const router = useRouter();

    const l_email = ref("");
    const l_password = ref("");

    const r_email = ref("");
    const r_password = ref("");

    async function register() {
      // TODO: Validate user input data
      const data = await axios.post("/auth/register", {
        email: r_email.value,
        password: r_password.value,
      });

      if (data.data.error) {
        alert(data.data.error);
      } else {
        setToken(data.data.token);
        router.push("/");
      }
    }

    async function login() {
      // TODO: Validate user input data
      const data = await axios.post("/auth/login", {
        email: l_email.value,
        password: l_password.value,
      });

      if (data.data.error) {
        alert(data.data.error);
      } else {
        setToken(data.data.token);
        router.push("/");
      }
    }

    return {
      l_email,
      l_password,
      r_email,
      r_password,

      register,
      login,
    };
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus">
.main
  max-width 800px
  margin 0 auto
  display flex
  justify-content space-around
  flex-wrap wrap

  > div
    background-color #999;
    border 1px solid black;
    padding: 20px;
    border-radius 5px;

    label, input
      display block
</style>
