<template>
  <div class="overview">
    <top-bar :factory-data="factoryData" />
    <market-info />
    <market-bar />
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, watch } from "vue";
import { useUserData } from "@/axios/loader";
import { buildingData } from "../../server/lib/data/gamedata";
import { BuildingKeyType } from "../../server/lib/types/types";
import TopBar from "@/components/TopBar.vue";
import axios from "axios";
import MarketBar from "@/components/MarketBar.vue";
import FactoryDetail from "@/components/FactoryDetail.vue";
import { useRoute } from "vue-router";
import MarketInfo from "@/components/MarketInfo.vue";

export default defineComponent({
  name: "FactoryView",
  components: { TopBar, MarketBar, MarketInfo },
  setup() {
    const user = useUserData();
    return {};
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus">
.overview {
  padding-top: 40px;
}
</style>
