<template>
  <div class="overview" v-if="isLoggedIn">
    <top-bar />
    <factory-overview />
    <market-bar />
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, watch } from "vue";
import { hasToken, useUserData } from "@/axios/loader";
import { buildingData } from "../../server/lib/data/gamedata";
import { BuildingKeyType } from "../../server/lib/types/types";
import axios from "axios";
import TopBar from "@/components/TopBar.vue";
import MarketBar from "@/components/MarketBar.vue";
import FactoryOverview from "@/components/FactoryOverview.vue";

export default defineComponent({
  name: "Overview",
  components: { TopBar, MarketBar, FactoryOverview },
  setup() {
    const isLoggedIn = hasToken();
    return {
      isLoggedIn,
    };
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus"></style>
