<template>
  <div class="main">
    <top-bar />
    <div class="profileOptions">
      <h2>Logout</h2>
      <button @click="logout">Logout</button>
      <h2>Change Email</h2>
      <form>
        <label for="email">New Email</label>
        <input type="email" id="email" />
        <button @click="changeEmail">Change Email</button>
      </form>
      <h2>Change Password</h2>
      <form>
        <label for="oldPassword">Old Password</label>
        <input type="password" id="oldPassword" />
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" />
        <label for="repeatNewPassword">Repeat New Password</label>
        <input type="password" id="repeatNewPassword" />
        <button @click="changePassword">Change Password</button>
      </form>
      <h1>Danger Zone</h1>
      <h2>Delete Account</h2>
      <button @click="deleteAccount">Delete Account</button>
    </div>
    <market-bar />
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, watch } from "vue";
import { useUserData } from "@/axios/loader";
import axios from "axios";
import TopBar from "@/components/TopBar.vue";
import MarketBar from "@/components/MarketBar.vue";

export default defineComponent({
  name: "Profile",
  components: { TopBar, MarketBar },
  setup() {
    const user = useUserData();

    return {};
  },
  methods: {
    logout() {
      alert("Logged out");
    },
    changeEmail() {
      alert("change email");
    },
    changePassword() {
      alert("change password");
    },
    deleteAccount() {
      if (!confirm("delete account?")) {
        return;
      }
    },
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus">
.main {
  margin-bottom: 60px;

  .profileOptions {
    max-width: 800px;
    margin: 0 auto;
    background-color: #999;
    border: 1px solid black;
    padding: 0px 20px 20px 20px;
    border-radius: 5px;

    h1 {
      border-bottom: 2px solid black;
    }

    h2 {
      border-bottom: 1px solid black;
    }

    form > * {
      display: block;
      margin: 2px auto;
    }
  }
}
</style>
