<template>
  <div class="main">
    <form class="registrationForm">
      <label for="username">Username</label>
      <input id="username" type="text" required />
      <label for="email">Email</label>
      <input id="email" type="email" required />
      <label for="password">Password</label>
      <input id="password" type="password" required />
      <label for="repeatPassword">Repeat Password</label>
      <input id="repeatPassword" type="password" required />
      <button type="submit">Login</button>
    </form>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, watch } from "vue";
import { useUserData } from "@/axios/loader";
import axios from "axios";

export default defineComponent({
  name: "Registration",
  components: {},
  setup() {
    const user = useUserData();

    return {};
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus">
.main {
  background-color: #0097e6;
  padding: 40px;
}

.registrationForm {
  width: 200px;
  margin: auto;
  margin-top: 80px;
  padding: 10px;
  background-color: #44bd32;
  border: 2px solid #f5f6fa;
  border-radius: 4px;
}

.loginForm > input {
  margin: 8px;
}
</style>
