<template>
  <div class="main" v-if="factoryData">
    <span class="factoryName">{{ factoryData.name }}</span>
    <br />
    <div class="factoryDetails">
      <div class="buildings">
        <div v-for="building in factoryData.buildings" :key="building.id">
          <div class="building">
            <div class="deleteBuildingButton">
              <button @click="deleteBuilding(building.id)">X</button>
            </div>
            <h2>{{ building.key }}</h2>
            <h4>{{ building.efficiency * 100 }}%</h4>
          </div>
        </div>
        <div>
          <div
            class="building addBuilding"
            v-if="factoryData.buildings.length < factoryData.max_buildings"
            @click="showBuildBuilding = true"
          >
            <h2>+</h2>
          </div>
        </div>
      </div>
      <div class="rightSide">
        <div class="factoryOptions">
          <button @click="upgradeFactory">Upgrade</button>
        </div>
      </div>
    </div>
  </div>
  <div class="buildBuildingDialog" v-if="showBuildBuilding">
    <h2>Build Building</h2>
    <button @click="showBuildBuilding = false" class="exitBuildDialogButton">
      X
    </button>
    <span v-if="loading">Laden...</span>
    <ul v-else>
      <li
        v-for="(building, key) in buildings"
        :key="key"
        class="buildableBuildingInfo"
        @click="buildBuilding(key)"
      >
        {{ key }}
        <br />
        Kosten: {{ building.building_cost }}
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { ref, defineComponent, PropType } from "vue";

import { BuildingKeyType, FactoryType } from "server/lib/types/types";
import { api } from "@/axios/api";
import { buildingData } from "../../server/lib/data/gamedata";

export default defineComponent({
  name: "Factory Detail",
  components: {},
  props: {
    factoryData: {
      required: true,
      type: Object as PropType<FactoryType>,
    },
  },
  setup(props) {
    const showBuildBuilding = ref(false);
    const loading = ref(false);
    const buildings = buildingData;

    async function deleteBuilding(id: string) {
      if (!confirm("Do you really wish to delete this building?")) {
        return;
      }

      const result = await api.deleteBuilding(props.factoryData.id, id);

      console.log(result);
    }

    async function upgradeFactory() {
      if (!confirm("Do you really wish to upgrade this factory for xy wood?")) {
        return;
      }

      const result = await api.upgradeFactory(props.factoryData.id);

      console.log(result);
    }

    async function buildBuilding(type: string) {
      if (!confirm("Do you really wish to build " + type)) {
        return;
      }

      loading.value = true;
      const result = await api.addBuilding(props.factoryData.id, type);
      loading.value = false;
      showBuildBuilding.value = false;

      console.log(result);
    }

    return {
      showBuildBuilding,
      upgradeFactory,
      deleteBuilding,
      buildBuilding,
      buildings,
      loading,
    };
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus">
.main {
  background-color: #0097e6;
  padding: 40px;

  .factoryDetails {
    display: flex;
    margin: 8px;
  }

  .buildings {
    display: flex;
    flex-wrap: wrap;
    width: 66.6%;
  }

  .building {
    background-color: #8c7ae6;
    width: 120px;
    height: 80px;
    margin: 4px;
    text-align: center;
    transition: background 0.2s ease-in;

    h2 {
      font-size: 15px;
      margin: 0px;
    }

    h4 {
      font-size: 12px;
      margin-right: 4px;
      float: right;
    }

    .deleteBuildingButton {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;

      button {
        display: block;
      }
    }
  }

  .addBuilding {
    line-height: 80px;

    h2 {
      margin: 0px;
    }
  }

  .addBuilding:hover {
    background-color: #fbc531;
  }

  .factoryName {
    text-align: left;
    font-size: 24px;
    width: 100%;
  }

  .rightSide {
    display: flex;
    flex-direction: column;

    .factoryStats td {
      border-top: 1px solid black;
    }

    .factoryOptions {
      flex-grow: 1;

      button {
        padding: 8px;
        margin-top: 8px;
      }
    }
  }
}

.buildBuildingDialog {
  position: absolute;
  width: 40vw;
  left: 0px;
  right: 0px;
  top: 100px;
  margin: 0 auto;
  background-color: #c23616;
  border-radius: 5px;

  .exitBuildDialogButton {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  ul {
    padding: 0px;
    max-height: 50vh;
    overflow-y: auto;
  }

  .buildableBuildingInfo {
    list-style-type: none;
    background-color: #718093;
    margin: 8px;
    padding: 4px;
    border-radius: 5px;
    transition: background 0.2s ease-in;
  }

  .buildableBuildingInfo:hover {
    background-color: #7f8fa6;
  }
}
</style>
