<template>
  <div class="factoryOverivew" v-if="userData">
    <div
      class="factoryDetails"
      v-for="factory in userData.factories"
      :key="factory.id"
    >
      <div class="factoryDetail">
        <div class="factoryHeader">
          <router-link :to="'/factory/' + factory.id" class="factoryLink">{{
            factory.name
          }}</router-link>
          <div class="deleteFactoryButton">
            <button @click="deleteFactory(factory.id)">X</button>
          </div>
        </div>

        <h2>{{ factory.money }}</h2>
        <div class="money-icon"><h2>$</h2></div>
      </div>
    </div>
    <div class="newFactory" v-if="userData.factories.length < 5">
      <button @click="createNewFactory()">New Factory</button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { useUserData } from "@/axios/loader";
import { FactoryType } from "server/lib/types/types";
import { api } from "@/axios/api";

export default defineComponent({
  components: {},
  name: "FactoryOverview",
  props: {},
  setup() {
    const userData = useUserData();

    async function createNewFactory() {
      if (!confirm("Do you really wish to create a new Factory?")) {
        return;
      }
      api.createFactory();
    }
    async function deleteFactory(id: string) {
      var factoryName = userData.value?.factories.filter(
        (x: FactoryType) => x.id == id
      )[0].name;
      if (
        !confirm(
          'Do you really wish to delete the Factory "' + factoryName + '"?'
        )
      ) {
        return;
      }
      api.deleteFactory(id);
    }

    return {
      userData,
      createNewFactory,
    };
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus">
.factoryOverivew {
  max-width: 800px;
  margin: 0 auto;
}

.factoryDetails {
  text-align: left;

  .money-icon {
    display: inline-block;
    margin-left: 5px;
  }

  h2 {
    display: inline-block;
  }

  .factoryDetail {
    background-color: red;
    margin-bottom: 10px;

    .factoryHeader {
      display: flex;

      .factoryLink {
        text-decoration: none;
        color: #f5f6fa;
        font-size: 30px;
        background-color: #273c75;
        padding: 5px;
        border-radius: 3px;
        transition: background 0.2s ease-in;
        display: inline-block;
      }

      .factoryLink:hover {
        background-color: #192a56;
      }

      .deleteFactoryButton {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;

        button {
        }
      }
    }
  }
}

.newFactory button {
  font-size: 25px;
}
</style>
