<template>
  <div class="main">
    <LineChart
      :chartData="timelineData"
      :options="options"
      :width="900"
      :height="500"
    />
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, PropType } from "vue";
import { LineChart } from "vue-chart-3";
import {
  Chart,
  LineController,
  Tooltip,
  CategoryScale,
  LinearScale,
  PointElement,
  LineElement,
} from "chart.js";
import { Resources, singleResourceTimeline } from "server/lib/types/types";
Chart.register(
  LineController,
  Tooltip,
  CategoryScale,
  LinearScale,
  PointElement,
  LineElement
);

export default defineComponent({
  name: "Market Line Chart",
  components: { LineChart },
  props: {
    timeline: {
      required: true,
      type: Object as PropType<singleResourceTimeline>,
    },
  },

  setup(props) {
    const timelineData = computed(() => {
      var labels: string[] = [];
      var data: number[] = [];
      const maxElementsToShow = 4000;

      for (var timestamp in props.timeline) {
        const date = new Date(parseInt(timestamp));
        labels.push(
          date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds()
        );
        data.push(props.timeline[timestamp]);
      }

      labels = labels.slice(Math.max(labels.length - maxElementsToShow, 1));
      data = data.slice(Math.max(data.length - maxElementsToShow, 1));

      return {
        labels: labels,
        datasets: [
          {
            label: "Produktivität",
            data: data,
            fill: false,
            borderColor: "rgb(75, 192, 192)",
            tension: 0.1,
          },
        ],
      };
    });

    const options = {
      scales: {
        xAxis: {
          ticks: {
            color: "#353b48",
          },
          grid: {
            color: "#353b48",
          },
        },
        yAxis: {
          ticks: {
            color: "#353b48",
          },
          grid: {
            color: "#353b48",
          },
        },
      },
    };

    return { options, timelineData };
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus">
.main {
}
</style>
