<template>
  <div class="main">
    <div class="left-side">
      <h2>Resources</h2>
      <div class="resource-container">
        <div
          class="resource"
          @click="selectedResource = resource"
          v-for="resource in resourceList"
          :key="resource"
          :class="{ 'selected-resource': selectedResource === resource }"
        >
          {{ resource }}
        </div>
      </div>
    </div>
    <div class="right-side">
      <div class="resource-graph">
        <market-line-chart
          :timeline="resourceData"
          v-if="selectedResource !== ''"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from "vue";
import { useMarketData } from "@/axios/loader";
import { singleResourceTimeline } from "server/lib/types/types";
import MarketLineChart from "@/components/MarketLineChart.vue";
import { RessourceList } from "../../server/lib/data/gamedata";

export default defineComponent({
  name: "Market Info",
  components: { MarketLineChart },
  props: {},
  setup() {
    const marketData = useMarketData();
    const resourceList = RessourceList;
    const selectedResource = ref("");

    const resourceData = computed<singleResourceTimeline>(() => {
      if (marketData.value[selectedResource.value]) {
        return marketData.value[selectedResource.value];
      }

      return {};
    });

    return {
      resourceList,
      selectedResource,
      resourceData,
    };
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus">
.main {
  display: flex;
  max-height: 70vh;

  .left-side {
    width: 25%;
    padding-left: 8px;
    padding-right: 4px;

    .resource-container {
      max-height: 50%;
      overflow-y: auto;

      .resource {
        margin: 4px 0px;
        padding: 3px;
        background-color: #40739e;
        transition: background 0.2s ease-in;
      }

      .selected-resource {
        background-color: #487eb0;
      }

      .resource:hover {
        background-color: #487eb0;
      }
    }
  }

  .right-side {
    background-color: green;
    width: 75%;
    padding-left: 4px;
    padding-right: 8px;
    display: flex;

    .resource-graph {
      width: 66.6%;
      max-height: 60vh;
    }

    .resource-right {
      width: 33.3%;

      .resource-stats {
      }

      .pin-resource {
      }
    }
  }
}
</style>
