<template>
  <div class="marketBar">
    <div class="pinnedMarketResources">
      <a class="pinnedMarketResource" href="">
        <span class="addResourceIcon">+</span>
      </a>
      <div
        class="pinnedMarketResource"
        v-for="(resource, key) in allResources"
        :key="resource"
      >
        <!-- <img src="../assets/arrow_down.png" class="marketDirection" /> -->
        <!-- {{ pinnedMarketResource.id }} -->
        {{ key }} {{ getLatestMarketValue(resource) }}
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { useMarketData } from "@/axios/loader";
import { singleResourceTimeline } from "server/lib/types/types";
import { defineComponent } from "vue";

export default defineComponent({
  name: "MarketBar",
  props: {},
  setup() {
    const allResources = useMarketData();

    function getLatestMarketValue(timeline: singleResourceTimeline) {
      const timeStamps = Object.keys(timeline);
      const latestTimeStamp = parseInt(timeStamps[timeStamps.length - 1]);
      return Math.round(timeline[latestTimeStamp] * 10000) / 10000;
    }

    return {
      allResources,
      getLatestMarketValue,
    };
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus">
.marketBar {
  position: fixed;
  width: 100%;
  left: 0px;
  bottom: 0px;
  height: 40px;
  background-color: #0097e6;
  border-top: 2px solid #273c75;
}

h2 {
  margin: 0px;
  padding: 0px;
}

.pinnedMarketResources {
  height: 40px;
  margin: 0px;
  display: flex;
  justify-content: flex-end;
}

.pinnedMarketResource {
  position: static;
  // border: black solid 1px;
  width: 80px;
  height: 38px;
  margin-right: 8px;
  display: flex;
  justify-content: flex-end;
}

.addResourceIcon {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  width: 100%;
}

a.pinnedMarketResource {
  text-decoration: none;
  color: #2f3640;
  background-color: #0097e6;
  transition: background 0.2s ease-in;
}

a.pinnedMarketResource:hover {
  background-color: #00a8ff;
}
</style>
