<template>
  <div class="ressources">
    <div
      class="resource"
      v-for="(resource, key) in resources"
      :key="key"
      v-show="resource != 0"
    >
      {{ key }}: {{ resource }}
    </div>
  </div>
</template>

<script lang="ts">
import { ResourcesType } from "server/lib/types/types";
import { defineComponent, PropType } from "vue";

export default defineComponent({
  name: "ResourceBar",
  props: {
    resources: {
      required: true,
      type: Object as PropType<ResourcesType>,
    },
  },
  setup() {
    return {
      pinnedResources: [{ id: "a" }, { id: "b" }, { id: "c" }],
    };
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus">
.ressources {
  flex-wrap: wrap;
  flex-grow: 1;
  background-color: blue;
  display: flex;
  justify-content: flex-end;

  > div {
    margin-left: 5px;
  }

  .resource {
    background-color: #40739e;
  }
}
</style>
