<template>
  <div class="topbar">
    <div class="home">
      <router-link class="topbar-link" :to="'/overview'"
        ><faicon icon="home" size="2x"
      /></router-link>
    </div>
    <div class="rightSide">
      <resource-bar v-if="factoryData" :resources="factoryData.resources" />
      <div class="money" v-if="factoryData">
        <div class="money-icon">CHF</div>
        {{ factoryData.money }}
      </div>
      <router-link :to="'/market'" class="topbar-link market-icon">
        <faicon icon="store" size="2x" />
      </router-link>
      <router-link :to="'/profile'" class="topbar-link profile-icon">
        <faicon icon="user" size="2x" />
      </router-link>
    </div>
  </div>
</template>

<script lang="ts">
import { FactoryType } from "server/lib/types/types";
import { computed, defineComponent, PropType } from "vue";
import ResourceBar from "./ResourceBar.vue";

export default defineComponent({
  components: { ResourceBar },
  name: "TopBar",
  props: {
    factoryData: {
      required: false,
      type: Object as PropType<FactoryType>,
    },
  },
  setup(factoryData) {
    return {};
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus">
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: #333333;

  .home {
    flex-shrink: 1;
  }

  a.topbar-link {
    width: 80px;
    height: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    color: white;

    svg {
      width: 80%;
    }
  }

  .rightSide {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    div {
      margin-left: 5px;
    }
  }

  .money {
    background-color: #8c7ae6;
  }
}
</style>
