<template>
  <router-view />
  <!-- <div id="nav">
    <router-link to="/">Home</router-link> |
    <router-link to="/about">About</router-link> |
    <router-link to="/overview">Overview</router-link>
  </div> -->
</template>

<style lang="stylus">
primary-color-strong = #0097e6;
primary-color-weak = #00a8ff;
secondary-color-strong = #44bd32;
secondary-color-weak = #4cd137;

body {
  background-color primary-color-weak;
  padding-top 40px;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  min-height 100%;
  height: 100%;
  margin-top 60px
}
</style>
